
<div class="kalimba">
  <div class="circle"></div>
<ul class="keys">
<li id="a" onclick="play('C8', 'sawtooth')">A<br><br>8C</li>
<li id="s" onclick="play('A6', 'sawtooth')">S<br><br>6A</li>
<li id="d" onclick="play('F4', 'sawtooth')">D<br><br>F4</li>
<li id="f" onclick="play('D2', 'sawtooth')">F<br><br>D2</li>
<li id="h" onclick="play('C1', 'sawtooth')">H<br><br>C1</li>
<li id="j" onclick="play('E3', 'sawtooth')">J<br><br>E3</li>
<li id="k" onclick="play('G5', 'sawtooth')">K<br><br>G5</li>
<li id="l" onclick="play('B7', 'sawtooth')">L<br><br>B7</li>
</ul>
</div>
<div class="form">
  <p>Click on the keys or use the ASDF and HJKL keys on your keyboard to play music.</p>
  <p>Once you're done, you can play back or publish your song.</p>

After creating a song you like, title it and use this form to submit it to the database.<br>
  <%= form_for @song do |f| %>
  <%= f.hidden_field :notes %>
  <%= f.text_field :title, placeholder: "title" %>
  <%= f.text_field :performer, placeholder: "performer" %>
  <%= f.submit "Save" %>
  <% end %>
<br>
<form>
<input type="text" id="status" value="Recording"> Status<br>
</form>

<button onclick="playback()">Play</button>
<button onclick="reset()">Rewind</button>
<button onclick="clearSong()">Delete Recording</button><br>
  You must rewind to play your song again.<br>
  Deleting recording will start new recording.<br>
  Current issues: <ol><li>Sometimes notes will stop playing due to lag; you will have to wait or refresh to fix.</li>
    <li>Sound quality is higher for saved music than in the initial player.</li>
    <li>Key presses made while typing produce notes.</li>
  </ol>
</div>
<!-- Note frequencies from https://gist.github.com/marcgg/94e97def0e8694f906443ed5262e9cbb -->
<!-- Audio tutorial http://marcgg.com/blog/2016/11/01/javascript-audio/ -->
